{% extends 'views/layout.html.twig' %}

{% block title %}About - Mandango{% endblock %}
{% block menu_current_tab %}about{% endblock %}

{% block content %}
    <h2>Pablo Díez</h2>
    <p>
        Project Lead.
    </p>
    <p>
        pablodip [at] gmail.com
    </p>

    <h2>Pedro Palmero</h2>
    <p>
        Web.
    </p>
    <p>
        pedropalmero [at] gmail.com
    </p>

    <h2>Francisco Álvarez</h2>
    <p>
        Critic.
    </p>
    <p>
        sormes [at] gmail.com
    </p>
{% endblock %}
