{% extends 'views/layout.html.twig' %}

{% block title %}Blog - Mandango{% endblock %}
{% block menu_current_tab %}blog{% endblock %}

{% block content %}
    <h2>Blog</h2>

    <p>Coming soon...</p>
{% endblock %}
