{% extends 'views/layout.html.twig' %}

{% block title %}Development - Mandango{% endblock %}
{% block menu_current_tab %}development{% endblock %}

{% block content %}
    <h2>Mailing Lists</h2>

    <p>
        Support: <a href="http://groups.google.com/group/mandango-users">mandango-users</a>
    </p>

    <p>
        Development of Mandango: <a href="http://groups.google.com/group/mandango-devs">mandango-devs</a>
    </p>

    <h2>Bugs</h2>

    <p>
        You can report bugs in the <a href="http://github.com/mandango/mandango/issues">issues</a> of github project.
    </p>
{% endblock %}
