{% extends 'views/layout.html.twig' %}

{% block title %}Documentation - Mandango{% endblock %}
{% block menu_current_tab %}documentation{% endblock %}

{% block content %}
    <h2>Documentation</h2>

    <p>Coming soon...</p>
{% endblock %}
