{% extends 'views/layout.html.twig' %}

{% block title %}Installation - Mandango{% endblock %}
{% block menu_current_tab %}installation{% endblock %}

{% block content %}
    <h2>Download</h2>

    <p>You can download Mandango as a <a href="http://github.com/mandango/mandango/tarball/master">tar archive</a> or a <a href="http://github.com/mandango/mandango/zipball/master">zip file</a>.</p>

    <h2>Git</h2>

    <p>The official repository of Mandango is at <a href="http://github.com/mandango/mandango">http://github.com/mandango/mandango</a>.</p>

    <h2>Subversion</h2>

    <p>There is a Subversion access to the Git repository, at http://svn.github.com/mandango/mandango.</p>
{% endblock %}
